model Object

@using System.Reflection
@using System.Linq.Expressions
@using MvcAdminResearch.Helpers


@{
    ViewBag.Title = "Details";

    var myObject = Model;
    Type myType = myObject.GetType();

    IModelContextHost host = (IModelContextHost)ViewBag.ModelContextHost;
    var propsEligible = ScaffoldHelpers.GetEligibleProperties(myType, host);

    string primaryKeyName = host.ModelProperties.FirstOrDefault(p => p.IsPrimaryKey).Name;
    var priamryKeyValue = myType.GetProperty(primaryKeyName).GetValue(myObject);
}

<h2>Details</h2>

<fieldset>
    <legend>@myType.Name</legend>
    @foreach (var prop in propsEligible)
    {
        if (!prop.IsPrimaryKey && !prop.IsReadOnly && !prop.IsForeignKey)
        {
        <dl class="dl-horizontal">
            <dt>
                @Html.Label(prop.Name)
            </dt>
            <dd>
                @Html.Display(prop.Name)
            </dd>
        </dl>
        }
        else if (prop.IsForeignKey)
        {
        <dl class="dl-horizontal">
            <dt>
                @Html.Label(prop.Name)
            </dt>
            <dd>
                @Html.Display(prop.Name)
            </dd>
        </dl>
        }
    }
</fieldset>
<p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=@priamryKeyValue }, new { @class="btn btn-primary"}) |
    @Html.ActionLink("Back to list", "Index", null, new { @class="btn"})
</p>
</p>
