@{
    Layout = "~/Areas/MvcAdmin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";

    var modelInfos = (List<MvcAdminResearch.Areas.MvcAdmin.Models.ModelInfoDto>)ViewBag.ModelInfos;
    int allRecords = modelInfos.Sum(mi => mi.RecordsCount);
}

<h2>Dashboard</h2>
<div class="row-fluid">

    @if (modelInfos != null)
    {
        int recNum = 0;
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 30px">#
                </th>
                <th style="width: 150px">Collection
                </th>
                <th>Records
                </th>
                <th style="width: 100px"></th>
            </tr>
                </thead>  
            <tbody>
                @foreach (var item in modelInfos)
                {
                    recNum++;
                    <tr>

                        <td>
                            @recNum
                        </td>
                        <td>
                            <a href="@Url.RouteUrl("MvcAdmin_Generic", new { controller = item.ControllerName, action = "Index" })">@item.DisplayName</a>
                        </td>
                        <td>
                            <div class="progress progress-striped">
                                <div class="bar" style="width: @(item.RecordsCount * 100 / allRecords)%;">
                                    <span class="pull-left" style="margin-left: 10px">@item.RecordsCount</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="@Url.RouteUrl("MvcAdmin_Generic", new { controller = item.ControllerName, action = "Index" })" class="icon-list"></a>
                            <a href="@Url.RouteUrl("MvcAdmin_Generic", new { controller = item.ControllerName, action = "Create" })" class="icon-plus"></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
